*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
}

img, picture, video, canvas, svg {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: "Roboto", sans-serif;
}

#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
  font-family: "Roboto", sans-serif;
}